html, body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  /*font-size: 18px;*/
  /*padding: 0;*/
  /*margin: 0;*/
}

body {
  background-color: #e9f1f3;
  color: #666666;
}

.inner-wrapper {
  width: 1230px;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
}

h2{
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
}

h3{
  font-size: 20px;
  font-weight: normal;
}

h4{
  font-size: 26px;
  text-transform: uppercase;
}

.text-block {
  width: 56.09756%;
  margin-left: auto;
  margin-right: auto;
}

.blue_bg {
  background: #2d3889;
}

/* Buttons */
/* ==================== */

.btn {
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: 1px white solid;
  border-radius: 20px;
  font-size: 14px;
  min-width: 160px;
}

.btn-dark {
  color: #2d3889;
  border-color: #2d3889;
}


/* Section intro */
/* ==================== */

.section_intro {
  /*min-height: 720px;*/
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  /*padding-top: 25px;*/
  height: 0;
  width: 100%
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Section 1 */
/* ==================== */

.section_1 {
  background-image: url(../images/bg.png);
  background-position: center center;
  background-size: cover;
  /*min-height: 720px;*/
  position: relative;
  color: white;
}

.section_1:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.section_1 .inner-wrapper {
  z-index: 100;
}

.header {
  margin-top: 60px;
  overflow: auto;
}
.header .logo {
  padding-left: 60px;
  float:left;
  margin-right: 180px;
}
.header .logo img {
  width: 180px;
}

.header .main_menu {
  float: left;
  margin-right: 180px;
  margin-top: 10px
}

.header .main_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header .main_menu ul li {
  float: left;
  margin-left: 60px;
}

.header .main_menu ul li:first-child {
  margin-left: 0;
}

.header .main_menu ul li a {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  color: #cbcbcb;
  text-decoration: none;
}

.header .main_menu ul li.active {
  border-bottom: 2px white solid;
}

.header .main_menu ul li a:hover,
.header .main_menu ul li.active a {
  color: white;
}

.header .phone {
  float: left;
  line-height: 1;
}
.header .phone .phone_main {
  font-size: 32px;
}


.section_1 .slider {
  margin-top: 180px;
  margin-bottom: 180px;
  margin-left: auto;
  margin-right: auto;
}

.section_1 .slider h1 {
  margin-top: 10px;
}

.section_1 .slider p {
  margin-top: 30px;
  margin-bottom: 60px;
}


/* Section 2 */
/* ==================== */

.section_2 {
  min-height: 420px;
  background-color: white;
}

.section_2 .text-block {
  margin-top: 120px;
}

.section_2 .text-block h2 {
  color: #222222;
}

.section_2 .text-block p {
  margin-top: 35px;
}


/* Section 3 */
/* ==================== */

.section_3 {
  min-height: 420px;
  margin-bottom: -720px;
}

.section_3 .dream-block {
  margin-top: 140px;
  color: white;
}

.section_3 .dream-block h1 {
  font-weight: normal;
}

.section_3 .blue_bg {
  min-height: 720px;
}

.section_3 .wrapper {
  position: relative;
  top: -720px;
}

.section_3 .menu {
  margin-top: 40px;
  margin-bottom: 60px;
}

.section_3 .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.section_3 .menu ul li {
  display: inline-block;
  margin-right: 10px;
}

.section_3 .menu ul li a {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-bottom: 2px rgba(255, 255, 255, 0) solid;
}

.section_3 .menu ul li a:hover {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.objects {
  margin-top: 75px;
}

.objects_container {
  background: white;
  border-radius: 10px;
}

.objects_container .text-block {
  width: 65.71428%;
  padding-bottom: 90px
}

.objects_container .text-block h2 {
  margin-top: 100px;
  color: #222222;
}

.objects_container .text-block p {
  margin-top: 40px;
}

.photo_container {
  overflow: auto;
  /*margin-top: 120px;*/
}

.photo_container .slider {
  margin-bottom: 30px;
}

.photo_container .photo {
  position: relative;
}

.photo_container .photo img {
  max-width: 100%;
  max-height: 100%;
}

.photo_container .photo img {
  max-width: 100%;
  max-height: 100%;
}

.photo_container .photo .caption {
  min-width: 50%;
  position: absolute;
  height: 99%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  visibility: hidden;
}

.photo_container .photo:hover .caption {
  visibility: visible;
}

.photo_container .photo .caption p {
  margin-top: 240px;
}

.objects_container .btn-dark {
  margin-top: 60px;
}

/* Section 4 */
/* ==================== */

.section_4 {
  min-height: 540px;
}

.section_4 .fa {
  margin-top: 100px;
  color: #2d3889;
}

.section_4 .text-block h2 {
  color: #222222;
  margin-top: 40px;
}

.section_4 .text-block p {
  margin-top: 30px;
}

.section_4 .text-block .btn-dark {
  margin-top: 60px;
}


/* Section 5 */
/* ==================== */

.section_5 {
  /*min-height: 540px;*/
  background-color: white;
}

.section_5 .text-block h2 {
  margin-top: 125px;
  color: #222222;
}

.section_5 .text-block p {
  margin-top: 30px;
}

.services {
  margin-top: 80px;
  padding-bottom: 120px;
}

.services .blue_bg {
  min-height: 210px;
  color: white;
}

.services .blue_bg .fa {
  margin-top: 60px;
}

.services .blue_bg h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 30px;
}

.services p {
  margin: 40px 5px;
  font-size: 16px;
}


/* Section 6 */
/* ==================== */

.section_6 {
  background-image: url(../images/bg.png);
  background-position: center center;
  background-size: cover;
  min-height: 720px;
  position: relative;
  color: white;
}

.section_6:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.section_6 .inner-wrapper {
  z-index: 100;
}

.section_6 .text-block {
  margin-top: 270px;
}

.section_6 p {
  margin-top: 40px;
}

.section_6 .btn {
  margin-top: 40px;
}

/* Section 7 */
/* ==================== */

/*.section_7 {
}*/

.section_7 .text-block {
  margin-top: 150px;
}

.section_7 .text-block h2 {
  color: #2d3889;
}

.section_7 .text-block p {
  margin-top: 30px;
}

.section_7 .form-col {
  overflow: visible;
}

.section_7 form {
  margin-top: 90px;
  background-color: white;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
}

.section_7 form p {
  text-align: left;
  margin-bottom: 20px;
}

.section_7 form p input,
.section_7 form p textarea {
  background-color: #e8e8e8;
  border: none;
  padding: 10px;
  font-size: 16px;
}
.section_7 form p input {
  min-width: 50%;
}

.section_7 form p textarea {
  min-width: 100%;
  min-height: 130px;
}

.section_7 form .btn {
  text-align: center;
  background-color: #2d3889;
  margin-top: 40px;
  padding: 10px 40px;
}


/* Section 8 */
/* ==================== */

.section_8 {
  margin-top: 38px;
}

.map {
  width: 100%
  min-height: 450px;
  margin-bottom: -5px;
}
.map iframe {
  width: 100%;
  border: none;
}


/* Section 9 */
/* ==================== */

.section_9 {
  background-color: white;
}

.footer_links {
  margin-top: 70px;
  /*margin-bottom: 60px;*/
}

.footer_links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer_links ul li {
  padding: 0 15px;
  display: inline-block;
}

.footer_links ul li a {
  display: block;
  background-color: #e0e0e0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 50px;
}

.footer_links ul li a:hover {
  background-color: #2d3889;
}

.footer_links ul li a .fa {
  vertical-align: middle;
  color: white;
}

.section_9 .text-block {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #888;
}
